#register {
    padding: 30px 0;
    background: #8E001C;
    color: #cccccc;
}

#register h2 {
    font-family: "helvetica bd";
}

#register input {
    padding: 5px 5px;
}

#register button {
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 10px;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
}

#register .row:first-child {
    margin-bottom: 30px;
}

#register a {
    text-decoration: underline;
    font-family: "helvetica bd";
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    content: " ";
    display: table;
}

.form-horizontal .form-group:after {
    clear: both;
}

.form-group {
    margin-bottom: 15px;
}

@media screen and (max-width: 720px) {

    .form-horizontal {
        font-size: 16px;
    }

}

@media screen and (max-width: 320px) {

    .form-horizontal {
        font-size: 12px;
    }

}