@font-face {
    font-family: "helvetica";
    src: url('../fonts/HelveticaNeue.ttf');
}

@font-face {
    font-family: "helvetica bd";
    src: url('../fonts/HelveticaNeueBd.ttf');
}

@font-face {
    font-family: "custom";
    src: url('../fonts/MinstrelPosterNF.ttf');
}

/* presets */
*::before,
*::after,
* {
    box-sizing: border-box;
    font-family: 'helvetica', Arial;
    font-weight: 600;
    outline: 0;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
    font-family: "helvetica", Arial;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
}

/* global */
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-inline li {
    display: inline-block;
}

.btn {
    border: none;
    cursor: pointer;
}

.btn-success {
    background: #5CB85C;
}

.form-control {
    display: block;
    width: 100%;
}

.top-heading:not(:first-child) {
    margin-top: 20px;
}

.top-heading:not(:last-child) {
    margin-bottom: 20px;
}

.middle-content {
    display: flex;
    align-items: center;
}

.middle-content > * {
    flex: auto;
}

.bigger {
    font-size: 30px;
}

.block {
    width: 100%;
    display: block;
}

/* GRID */

.row::before,
.row::after {
    content: ' ';
    display: table;
}

.row::after {
    clear: both;
}

.row:not(:last-child) {
    margin-bottom: 15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-8, .col-9, .col-10, .col-12 {
    float: left;
    padding: 0 15px;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-12 {
    width: 100%;
    display: block;
}

/* custom */

.prev, .next {
    background-color: #f1f1f1;
    color: black;
    font-size: 36px;
}

.prev:hover,
.next:hover {
    cursor: pointer;
}

.prev:active p {
    transition: 0.33s ease;
    transform: translateX(-4px);
}

.next:active p {
    transition: 0.33s ease;
    transform: translateX(4px);
}

.prev {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 270px;
    left: 0;
}

.next {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 270px;
    right: 0;
}


/* left fixed navbar */
#navbar {
    width: 15%;
    height: 100%;
    position: fixed;
    outline: 1px solid;
    background: #424242;
}

#navbar .row:first-child {
    margin-top: 15px;
    margin-bottom: 40px;
}

#navbar .row:last-child {
    margin-top: 60px;
}

#navbar #logo img {
    width: 150px;
    height: 150px;
}

#navbar #logo img:hover {
    animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(8%);
    }
    100% {
        transform: translateY(0%);
    }
}

#menu {
    margin: 0;
    padding: 0;
}

#menu li a {
    background: #424242;
    color: #ccc;
    border-bottom: 1px solid #111;
    display: block;
    padding: 15px;
    padding-left: 25px;
    text-decoration: none;
}

#menu li a:hover {
    background: #222222;
    transition: 0.5s ease;
    transform: translateY(-3px);
}

#social img {
    width: 42px;
    height: 42px;
}

#social li a img:hover {
    transform: rotate(360deg);
    transition: 1s ease;
}

/* right side content */
.mobile {
    display: none;
}

#content {
    width: 85%;
    height: auto;
    outline: 1px solid;
    position: absolute;
    right: 0;
    background: #EFEFEF;
}

#topbar {
    display: none;
}

#input-container {
    padding: 20px 0;
}

#search-bar {
    width: 79.4%;
    background: none;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #cccccc;
}

#search-button {
    width: 20%;
    background: none;
    padding: 10px;
    font-weight: 800;
    letter-spacing: 1px;
}

#content-nav .col-8 {
    width: 83.33333333%;
}

#search-icon {
    background: none;
    padding: 10px 15px;
    border: 2px solid #bbbbbb;
    border-top: none;
}

#content-nav img {
    height: 20px;
    width: 20px;
}

#header {
    padding-bottom: 20px;
}

#header h1 {
    font-family: "custom";
    letter-spacing: 4px;
    font-size: 48px;
    color: #2f2f2f;
}

#company p {
    font-style: italic;
    letter-spacing: 1px;
}

#slider {
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
    position:relative;
}

#slider .slides {
    display: block;
    width: 3000px;
    height: 600px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 100%;
    height: 600px;
}

#banner {
    position: relative;
}

#banner #slider .slides .slide img {
    /*width: 100%;*/
}

#banner h2 {
    position:absolute;
    top: 66%;
    left: 42%;
    color: white;
    font-family: "helvetica bd";
}

.overlay {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
}

#play-btn {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 37%;
    left: 41%;
}

#play-btn:hover {
    border-radius: 100%;
    background: #2f2f2f;
    cursor: pointer;
}

#gallery {
    padding: 30px 0;
}

#gallery h2 {
    color: #2f2f2f;
    font-family: "custom";
    font-size: 40px;
    letter-spacing: 4px;
}

.pict {
    height: 200px;
    overflow: hidden;
}

.pict img {
    width: 100%;
    height: 100% !important;
    /*object-fit: contain;*/
}

.pict img:hover {
    cursor: pointer;
}

#about {
    padding: 30px 0;
    background-color: #8E001C;
    color: #ccc;
}

#about h2 {
    font-family: "helvetica bd";
    font-size: 28px;
    margin-bottom: 40px;
}

#about img {
    height: 200px;
    width: 200px;
}

#about .row:last-child {
    margin-top: 30px;
}

#footer {
    padding: 20px 0;
}

#social-footer img {
    width: 42px;
    height: 42px;
}

#social-footer li:not(:last-child) {
    margin-right: 5px;
}

#footer .row:last-child {
    margin-top: 60px;
    font-size: 16px;
}

#footer .row:last-child span {
    letter-spacing: 1px;
    font-weight: 600;
}

/* modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    display: block;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:720px) {

    p {
        font-size: 14px;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }

    #navbar #logo img {
        width: 75px;
        height: 75px;
    }

    #navbar li {
        font-size: 14px;
    }

    #navbar #social {
        display: block;
    }

    #search-bar {
        width: 78.9%;
    }

    #header .col-9 {
        width: 100%;
    }

    #company h1 {
        font-size: 32px;
    }

    .prev p,
    .next p {
        font-size: 26px;
    }

    #play-btn {
        width: 135px;
        height: 135px;
    }

    #gallery h2 {
        font-size: 32px;
    }

    .pict {
        height: 150px;
    }

    #about img {
        width: 125px;
        height: 125px;
    }
}

@media screen and (max-width: 320px) {

    p {
        font-size: 12px;
    }

    .container {
        padding: 0 10px;
    }

    .not-in-mobile {
        display: none;
    }

    #content {
        width: 100%;
    }

    #search-icon {
        padding: 7px 7px;
    }

    #search-icon img {
        width: 12px;
        height: 12px;
    }

    #search-bar {
        width: 77.9%;
    }

    #company h1 {
        font-size: 20px;
        font-weight: 400;
    }

    #header {
        margin-top: 30px;
    }

    #header .col-9 {
        width: 75%;
    }

    #header img {
        width: 50px;
        height: 50px;
    }

    .mobile {
        display: inline;
    }

    .hamburger {
        margin-top: 5px;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    #dropdown .col-12 {
        background-color: #2f2f2f !important;
        color: #cccccc;
    }

    #dropdown ul {
        height: 0;
        overflow: hidden;
    }

    #dropdown ul.open {
        height: auto;
    }

    #dropdown ul li {
        padding: 10px 0;
        border-bottom: 1px solid #111;
    }

    .burger {
        width: 15px;
        height: 3px;
        background-color: #2f2f2f;
        margin-bottom: 3px;
    }

    #content-nav .col-8 {
        width: 66.66666667%;
    }

    #slider {
        height: 300px;
    }

    #slider .slides {
        height: 300px;
    }

    #slider .slide {
        height: 300px;
    }

    #play-btn {
        width: 90px;
        height: 90px;
        left: 39%;
    }

    .prev, .next {
        top: 45%;
    }

    #banner h2 {
        margin-top: 5px;
        font-size: 14px;
    }

    #gallery .col-4 {
        width: 100%;
    }

    #about .col-4 {
        width: 100%;
    }

    #about img {
        width: 100px;
        height: 100px;
    }
}